{% extends "home/baseAdmin.html" %}
{% block meta %}
<style>
    #container {
        background-color: #AC3834;
        border-radius: 12px;
        position: relative;
        top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        font-size: 20px;   
        text-align: center;
        margin-bottom: 48px;

    }

    #registerhead {
        font-size: 24px;
        color: white;
        background-color: #811112;
        height: 70px;
        text-align: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

    }

    input[type=text], input[type=password] {
        width: 80%;
        padding: 15px;
        margin: 25px 0 22px 0;
        display: inline-block;
        border: none;
        background: #EDE0D0;
        text-align: center;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
        text-align: center;
    }

    #registerbody {
        font-size: 12px;
        text-align: center;
    }

    #submitbutton {
        background-color: #811112;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 25%;
        opacity: 0.9;
        text-align: center;
    }

    #submitbutton:hover {
        opacity: 1;
    }

    #loginbutton {
        padding: 16px 20px;
        color: #EDE0D0;
    }

    h3 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    input {
        text-align: center;
    }

    .buttonHolder {
        text-align: center;
    }

</style>

<title>Delete Paket Koin (Admin)</title>
{% endblock meta %}

{% block content %}
<body>
    <h3>Delete Paket Koin (Admin)</h3>
    <h5>Apakah kamu yakin ingin menghapus paket koin ini?</h5>
    <div class="buttonHolder">
        <input type="submit" name="Create User" id="submitbutton" value="Hapus">
    </div>
    <p><a href="{% url 'paketkoin:home' %}"> Cancel </a></p>
</body>

{% endblock content %}
